/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
#los assets se copian desde app
/web/bundles/
/web/images/
/web/css/
/web/js/

/app/data/*

/node_modules/
/bower_components/