<div class="modal fade" id="actividadModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row activity-types">
                    <button type="button" class="btn btn-lg btn-info" data-value="Paseo">
                        <i class="icon-baby-carrier"></i> Paseo
                    </button>

                    <button type="button" class="btn btn-lg btn-info long-text" data-value="Barriguita Time">
                        <i class="fa fa-heart"></i> Barriguita<br />time
                    </button>

                    <button type="button" class="btn btn-lg btn-info" data-value="Otro">
                        <i class="fa fa-plus"></i> Otro
                    </button>
                </div>

                <div class="row hide activity-options">
                    {{ spinner(5, 15, 'minutos') }}

                    <button type="button" class="btn btn-lg btn-success save">
                        <i class="fa fa-check"></i> Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>