<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cómo fue de largo?</h4>
            </div>
            <div class="modal-body">
                {{ spinner(5, 5, 'minutos') }}

                <button type="button" class="btn btn-lg btn-success save">
                    <i class="fa fa-check"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</div>