<div class="modal fade" id="panyalModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row diaper-types">
                    <button type="button" class="btn btn-lg btn-success" data-value="wet">
                        <i class="fa fa-tint"></i> Húmedo
                    </button>

                    <button type="button" class="btn btn-lg btn-success" data-value="dirty">
                        <i class="fa fa-warning"></i> Sucio
                    </button>

                    <button type="button" class="btn btn-lg btn-success" data-value="both">
                        <i class="fa fa-fire-extinguisher"></i> Ambos
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>