<div class="modal fade" id="milkModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row feed-types">
                    <button type="button" class="btn btn-lg btn-info" data-value="left">
                        <i class="fa fa-arrow-left"></i> Izquierda
                    </button>

                    <button type="button" class="btn btn-lg btn-info" data-value="right">
                        <i class="fa fa-arrow-right"></i> Derecha
                    </button>

                    <button type="button" class="btn btn-lg btn-info" data-value="pumped">
                        <i class="fa fa-tint"></i> Pumped
                    </button>

                    <button type="button" class="btn btn-lg btn-info" data-value="formula">
                        <i class="fa fa-magic"></i> Formula
                    </button>
                </div>

                <div class="row hide time-options">

                    <button type="button" class="btn btn-lg btn-success save">
                        <i class="fa fa-check"></i> Guardar
                    </button>
                </div>

                <div class="row hide bottle-options">


                    <button type="button" class="btn btn-lg btn-success save">
                        <i class="fa fa-check"></i> Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>