<div class="modal fade" id="suministrosModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row supplies-types">
                    <button type="button" class="btn btn-lg btn-info" data-value="panyal">
                        <i class="icon-baby-diaper"></i> Pañales
                    </button>

                    <button type="button" class="btn btn-lg btn-info" data-value="toallita">
                        <i class="fa fa-inbox"></i> Toallitas
                    </button>

                    <button type="button" class="btn btn-lg btn-info" data-value="otros">
                        <i class="fa fa-plus"></i> Otros
                    </button>
                </div>

                <div class="row hide supplies-options">
                    {{ spinner(10, 100, 'items') }}

                    <button type="button" class="btn btn-lg btn-success save">
                        <i class="fa fa-check"></i> Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>