{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container-fluid">
        <h1>EventType creation</h1>

        {{ form(form) }}

        <ul class="list-unstyled list-inline">
            <li>
                <a href="{{ path('eventtype') }}">
                    volver al listados
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
